name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      which_ones:
        description: "Which tests you want to run?"
        required: true
        default: 'Both'
        type: choice
        options:
          - 'Both'
          - 'API'
          - 'WEB'

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Install uv
        uses: astral-sh/setup-uv@v2
      
      - name: Set up Python
        run: uv python install
      
      - name: Install dependencies
        run: uv sync
      
      - name: Run API Tests
        if: ${{ (inputs.which_ones == null) || (inputs.which_ones == 'Both') || (inputs.which_ones == 'API') }}
        run: |
          uv run pytest tests_api/ --junitxml=results/api_results.xml --html=results/api_results.html -n auto
      
      - uses: browser-actions/setup-chrome@v1

      - name: Run Web Tests
        if: ${{ (inputs.which_ones == null) || (inputs.which_ones == 'Both') || (inputs.which_ones == 'WEB') }}
        run: |
          uv run pytest tests_web/ --junitxml=results/web_results.xml --html=results/web_results.html -n auto
      
      - name: Run Lab Tests
        run: |
          uv run pytest tests_thelab/ --junitxml=results/lab_results.xml --html=results/lab_results.html -n auto

      - name: Upload test results to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Test Results
          path: results/
